body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: white;
}

.rectangle {
    width: calc(100% - 80px);
    height: calc(100% - 80px); 
    background-color: #EC799B; 
    border-radius: 10px; 
    position: relative; 
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.girl-image {
    position: absolute;
    bottom: 0px;  
    left: 0px;    
    width: 160px;  
    height: auto;  
}

.girl-image img {
    width: 100%;
    height: auto;
}

.boy-image {
    position: absolute;
    top:  0px;  
    right: 0px;    
    width:160px;  
    height: auto; 
    transform: rotate(-16deg); 
}

.boy-image img {
    width: 100%;
    height: auto;
}

.sparkle {
    width: 6px;
    height: 6px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    animation: sparkleAnimation 1.5s infinite ease-in-out;
    opacity: 0;
}

@keyframes sparkleAnimation {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

.star2 {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 20px solid white;
    transform: rotate(45deg); 
    opacity: 0;
    animation: starAnimation 2s infinite ease-in-out; 
}

.star2:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid white;
    top: -15px;
    left: -10px;
    transform: rotate(90deg);
}

@keyframes starAnimation {
    0% {
        opacity: 0;
        transform: scale(0) rotate(45deg);
    }
    50% {
        opacity: 1;
        transform: scale(1) rotate(45deg);
    }
    100% {
        opacity: 0;
        transform: scale(0) rotate(45deg);
    }
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s ease;
}

.image-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 2px solid transparent;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image-container.active {
    transform: scale(1.2);
    border-color: #EC799B;
}

.image-container.inactive {
    transform: scale(0.9);
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    z-index: 1;
}

.nav-button.left {
    left: 90px;
}

.nav-button.right {
    right: 90px;
}

#playAudioButton {
    position: absolute;
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: #EC799B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    z-index: 10; 
}

#playAudioButton:hover {
    background-color: #cbb1ba;
}

#progressBarContainer {
    position: absolute;
    bottom: 60px; 
    left: 50%; 
    margin-bottom: 10px;
    transform: translateX(-50%);
    width: 50%; 
    height: 10px; 
    background-color: #f1f1f1; 
    border-radius: 5px;
    overflow: hidden;
}

#progressBar {
    width: 0%; 
    height: 100%;
    background-color: #807d7e; 
    transition: width 0.1s ease; 
}

#timeInfo {
    position: absolute;
    bottom: 40px; 
    left: 29%; 
    transform: translateX(-50%);
    font-size: 14px;
    color: #555; 
}
